.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    padding: 10px 0;
  }

  .header__logo {
    width: 80px;
    height: 22px;
  }
}
