.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

.post {
  width: 413px;
  height: 413px;
}

.posts__container {
}

.posts__image {
  scale: object-fit;
  width: 413px;
  height: 445px;
}
