.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.posts__card {
  width: 100%;
}

.posts__container {
  justify-content: space-between;
}

.posts__image {
  scale: object-fit;
  width: 413px;
  height: 413px;
  border-radius: 8pt;
}

.posts_description {
  margin-top: 10px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.posts__like-icon {
  right: 20px;
}

.posts__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .posts {
    grid-template-columns: 1fr;
    max-width: 288px;
    margin: 0 auto;
  }

  .posts__card {
    width: 100%;
  }

  .posts__container {
    flex-direction: column;
    align-items: center;
  }

  .posts__image {
    width: 288px;
    height: 288px;
  }

  .posts__description {
    font-size: 14px;
  }

  .posts__text-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .posts__like-icon {
    position: static;
    margin-top: 10px;
  }
}
