.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.posts__card {
  width: 100%;
}

.posts__container {
  justify-content: space-between;
}

.posts__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}

.posts__description {
  color: #212121;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.posts__text-container {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts__like-button {
  background-image: url("../images/like.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.posts__like-button:hover {
  cursor: pointer;
  color: #212121;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .posts {
    grid-template-columns: 1fr;
    max-width: 288px;
  }

  .posts__container {
    flex-direction: column;
    align-items: center;
  }

  .posts__image {
    width: 288px;
    height: 288px;
  }

  .posts__description {
    font-size: 16px;
  }

  .posts__text-container {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 630px) and (max-width: 1320px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
    gap: 32px 20px;
  }

  .posts__image {
    width: 350px;
    height: 350px;
    border-radius: 8px;
  }
}
