.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.post {
  width: 413px;
}

.posts__container {
  justify-content: space-between;
}

.posts__image {
  scale: object-fit;
  width: 413px;
  height: 413px;
}

.post_description {
  margin-top: 10px;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.posts__like-icon {
  right: 20px;
}

.post__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
