.profile {
  display: flex;
  padding: 34px 0 20px;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8pt;
}

.profile__text-container {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 190px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0%;
  color: #212121;
}

.profile__description {
  width: 97px;
  height: 16px;
  color: #212121;
  opacity: 0.7;
}

.profile__edit-btn {
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
  margin-top: auto;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
}

.profile__add-btn {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  gap: 8px;
  border-radius: 8pt;
  padding: 18px 32px 18px 32px;
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fcf5e5;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__text-container {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .profile__name {
    gap: 6px;
    font-size: 20px;
  }

  .profile__description {
    font-size: 16px;
  }

  .profile__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .profile__edit-btn {
    font-size: 16px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    padding: 18px, 32px, 18px, 32px;
  }
}
